body {
  font-family: Arial, sans-serif;
  background-color: rgb(227, 236, 245);
  background-size: cover;
  background-position: center;
 
}
.right {
  background-color: rgb(245, 248, 248);
  flex: 70%;
  width: 80%;
}

.left {
  background-color: rgb(237, 231, 225);
  flex: 30%;
  width: 20%;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
 
}

